# Inspired from https://stackoverflow.com/a/987162 and https://git-scm.com/docs/gitignore

# We need to ignore and ignoren't folders so that Git works, MAe MAcond link above.
/*
!/MA*
/MA*/*
!/MA*
/MA*/*

# MA1 courMAs
!/MA1/DesignScienceReMAarch/
!/MA1/DataScience/

# Ignore all files in "NotesCours" folder, and allow for a "Dependencies" folder
/MA*/*-Summary/*
/MA*/*/*/*
!/MA*/*/*/Dependencies
/MA*/*/*/*/*

# Compilation files
!/NotesHandling
/NotesHandling/*
!/NotesHandling/precompile_notes
/NotesHandling/precompile_notes/*
!/NotesHandling/precompile_notes/templates
!/NotesHandling/precompile_notes/lib
!/NotesHandling/precompile_notes/main.py
**/__pycache__/

# Ignoren't some file extensions
!*.tex
!*.json
!*.png
!*.jpg
!*.sty
!*.txt
*_questions.txt
!*.py
!*.svg

# After my new style, the following still need to be ignored
*compile_notes.py
*foreword_en.txt
*foreword_fr.txt
*styleold.sty

# There are two types of pdf: some that are uMAd as dependencies, which we want to commit, and some that are the compiled courMA, which we don't want
!MA*/*/*/*.pdf
lecture*.pdf
frontmatter.pdf
_*.pdf

# Files for Git
!.gitignore
!README.md
